<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.User" />
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.Folder" />
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.Pattern" />
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.PatternsFolders" />
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.Visit" />
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.Address"/>
		<mapping class="com.mpsdevelopment.biopotential.server.db.pojo.Customer"/>

	</session-factory>
</hibernate-configuration>
