/*
.chart-line-symbol {
    -fx-background: #ffffff;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
 }

.chart-series-line {
    -fx-background: #ffffff;
    -fx-stroke: #5294C6;
    -fx-stroke-width: 1px;
    -fx-effect: dropshadow( two-pass-box , rgba(0,0,0,0.3) , 8, 0.0 , 0 , 3 );
}

.chart {
    -fx-background: #ffffff;
}

.chart-symbol { !* solid circle *!
    -fx-background: #ffffff;
    -fx-padding: 0px;
    -fx-background-image: url("Image-of-the-human-body.jpg");
    -fx-background-color: #f9d900;
    -fx-background-radius: 0px;
}

.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: #FFFFFF;
}

*/
.chart-plot-background {
    -fx-background-image: url("Image-of-the-human-body.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-color: #FFFFFF;
}

.chart-vertical-grid-lines {
    -fx-stroke: no;
}