<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
      http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.1.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<!--<global-method-security pre-post-annotations="enabled"/> -->

	<http auto-config="true" use-expressions="true" create-session="stateless" entry-point-ref="restAuthenticationEntryPoint">
		<intercept-url pattern="/api/users/login" access="permitAll()" />
		<intercept-url pattern="/api/**" access="hasAuthority('ADMIN')" />
		<csrf disabled="true" />
		<access-denied-handler ref="accessDeniedHandler" />
	</http>

	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean class="com.mpsdevelopment.biopotential.server.service.CustomUserDetailsService" id="customUserDetailsService" />
	<beans:bean class="com.mpsdevelopment.biopotential.server.handler.RestAuthenticationEntryPoint" id="restAuthenticationEntryPoint" />

	<beans:bean id="customUserDetailsServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<beans:property name="target">
			<beans:bean class="com.mpsdevelopment.biopotential.server.service.CustomUserDetailsService" id="customUserDetailsService" />
		</beans:property>
		<beans:property name="interceptorNames">
			<beans:list>
				<beans:value>annotationSessionAdviceBean</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>

	<beans:bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean" p:targetClass="org.springframework.security.core.context.SecurityContextHolder"
		p:targetMethod="setStrategyName" p:arguments="MODE_INHERITABLETHREADLOCAL" />

	<beans:bean id="accessDeniedHandler" class="com.mpsdevelopment.biopotential.server.handler.CustomAccessDeniedHandlerImpl" />


</beans:beans>